p {

text-align: center;
font-size: 50px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {

    background-image: url(https://preview.redd.it/noee6w8j1lr81.png?auto=webp&s=74fb04b4c7c018a974b2d94a31b1f9f32241c8ee);
}